@use "../variables" as v;

.content {
  background-color: v.$px1;
  .field {
    max-width: 2560px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: v.$bigPadding;
    margin-bottom: v.$bigPadding;
    .card {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 1;
      gap: 0;
      padding: v.$bigPadding;
      background-color: v.$px2;
      border-radius: 10px;
      ul {
        li {
          line-height: 1.75;
          text-align: left;
          &.goal {
            color: v.$cred;
            .status {
              color: v.$softwhite;
              font-size: calc(v.$defaultSize * 0.8);
              font-style: italic;
            }
            &.done {
              color: v.$softwhite;
              i {
                color: v.$cgreen;
              }
            }
          }
        }
      }
    }
  }
  &.skills {
    background-color: v.$px1;
  }
  &.skill-mastery {
    background-color: v.$px25;
  }
  &.quests {
    background-color: v.$px1;
  }
  &.special-orders {
    background-color: v.$px25;
  }
  &.monster-hunting {
    background-color: v.$px1;
  }
  &.stardrops {
    background-color: v.$px25;
  }
}

@media (max-width: 666px) {
  .content {
    .field {
      max-width: 100%;
      margin: 0 0;
      display: grid;
      grid-template-columns: 1fr;

      gap: v.$bigPadding;
      margin-bottom: v.$bigPadding;
      .card {
        width: 100%;
        background-color: orange;
        display: block;
        padding: v.$bigPadding;
        background-color: v.$px2;
        border-radius: 10px;
      }
    }
  }
}
