@use "../variables" as v;

.skill-mastery {
  background-color: v.$px25;
  .field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: v.$bigPadding;
    margin-bottom: v.$bigPadding;
    .card {
      display: block;
      padding: v.$bigPadding;
      background-color: v.$px2;
      border-radius: 10px;
      ul {
        li {
          line-height: 1.75;
          &.goal {
            color: v.$cred;
            .status {
              color: v.$softwhite;
              font-size: calc(v.$defaultSize * 0.8);
              font-style: italic;
            }
            &.done {
              color: v.$softwhite;
              i {
                color: v.$cgreen;
              }
            }
          }
        }
      }
    }
  }
}
