@use "../variables" as v;

.summary {
  // background: linear-gradient(135deg, v.$px1, v.$px2);
  background-color: v.$px25;
  .field {
    text-align: center;
    p {
      font-size: v.$dialogueSize;
      line-height: 1.5;
    }
  }
}
