@use "./variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18.2px;
  height: 100svh;
  scroll-behavior: smooth;
  scrollbar-color: v.$pm1 rgba(v.$px1, 0.5);
  scrollbar-width: thin;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: v.$systemfont;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: v.$px1;
  color: v.$softwhite;
  font-size: v.$defaultSize;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
input,
textarea {
  font-family: v.$systemfont;
  border: none;
  outline: none;
  font-size: v.$defaultSize;
}

button,
.btn,
[role="button"],
button:hover,
.btn:hover,
[role="button"]:hover {
  border: none;
  outline: none;
}
input {
  color: v.$white;
}
textarea {
  color: v.$white;
  resize: none;
  scrollbar-width: thin;
}
textarea {
  resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.center {
  text-align: center;
}
img {
  pointer-events: none;
}
