$px1: #0b111d;
$px25: #0f1621;
$px2: #1c222c;
$pm1: #a395e8;
$pm2: #2d3048;
$pg1: #fef1a2;
$pg2: #4d4a39;

$white: #f0f2f3;
$softwhite: #abadaf;
$swhite: #888b91;
$black: #00000b;
$sgreen: #3aa761;
$sred: #da373b;
$sgray: #4e5057;
$syellow: #bda94e;
$yellow: #fee75b;
$sblue: #16365c;

$blurple: #5865f1;
$cred: #ff6e6e;
$cgreen: #6ccc71;
$cblue: #2b6fb9;

$majorGap: clamp(10px, 3vw, 20px);
$defaultSize: clamp(1rem, 5vw, 1.2rem);
$dialogueSize: clamp(1rem, 5vw, 1.6rem);
$bigPadding: clamp(10px, 3vw, 20px);
$tinyPadding: clamp(3px, 1vw, 5px);
$smallPadding: clamp(4px, 1vw, 8px);
$mediumPadding: clamp(5px, 1.2vw, 10px);
$largeMargin: clamp(20px, 3vw, 50px);

$textoutline:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
$textshadow:
  1px 0 3px #0b0b0b,
  0 1px 3px #0b0b0b,
  -1px 0 3px #0b0b0b,
  0 -1px 3px #0b0b0b,
  1px 1px 10px #0b0b0b,
  1px -1px 10px #0b0b0b,
  -1px 1px 10px #0b0b0b,
  -1px -1px 10px #0b0b0b;

$systemfont:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  "Open Sans",
  "Helvetica Neue",
  sans-serif;

$monofont: monospace, monospace;
