<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content" />
    <meta name="author" content="Devanka" />
    <meta name="robots" content="notranslate" />
    <meta name="google" content="notranslate" />

    <meta name="description" content="Check a Stardew Valley save file for various achievements and milestones and lets you know what is missing." />

    <meta property="og:title" content="Stardew Valley Checkup" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Check a Stardew Valley save file for various achievements and milestones and lets you know what is missing." />
    <!-- <meta property="og:image" content="/images/Kulon_Hero_1024.png" /> -->
    <meta property="og:url" content="https://stardewcheckup.devanka.id" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Stardew Valley Checkup" />
    <meta name="twitter:description" content="Check a Stardew Valley save file for various achievements and milestones and lets you know what is missing." />
    <meta name="twitter:alt" content="Stardew Valley Checkup" />
    <!-- <meta name="twitter:image" content="/images/Kulon_Hero_1024.png" /> -->
    <meta name="twitter:url" content="https://stardewcheckup.devanka.id" />

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/favicon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/favicon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/favicon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/favicon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/favicon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/favicon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/favicon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/favicon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/favicon-180x180.png" />

    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/favicon-192x192.png" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicons/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />

    <meta name="msapplication-TileColor" content="#2d3048" />
    <meta name="msapplication-TileImage" content="/favicons/favicon-144x144.png" />
    <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
    <link rel="manifest" href="/favicons/manifest.json" />
    <meta name="theme-color" content="#2d3048" />

    <meta name="color-scheme" content="light dark" />

    <title>Stardew Valley Checkup</title>
  </head>
  <body>
    <div class="app"><i class="fa-solid fa-user"></i> Under Development</div>
  </body>
</html>
