<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content" />
    <meta name="author" content="Devanka" />
    <meta name="robots" content="notranslate" />
    <meta name="google" content="notranslate" />

    <meta name="description" content="Check a Stardew Valley save file for various achievements and milestones and lets you know what is missing." />

    <meta property="og:title" content="Stardew Valley Checkup" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Check a Stardew Valley save file for various achievements and milestones and lets you know what is missing." />
    <!-- <meta property="og:image" content="/images/Kulon_Hero_1024.png" /> -->
    <meta property="og:url" content="https://stardewcheckup.devanka.id" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Stardew Valley Checkup" />
    <meta name="twitter:description" content="Check a Stardew Valley save file for various achievements and milestones and lets you know what is missing." />
    <meta name="twitter:alt" content="Stardew Valley Checkup" />
    <!-- <meta name="twitter:image" content="/images/Kulon_Hero_1024.png" /> -->
    <meta name="twitter:url" content="https://stardewcheckup.devanka.id" />

    <!-- <link rel="apple-touch-icon" sizes="57x57" href="/favicons/favicon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/favicon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/favicon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/favicon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/favicon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/favicon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/favicon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/favicon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/favicon-180x180.png" /> -->

    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/favicon-192x192.png" /> -->

    <!-- <link rel="shortcut icon" type="image/x-icon" href="/favicons/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" /> -->

    <meta name="msapplication-TileColor" content="#2d3048" />
    <!-- <meta name="msapplication-TileImage" content="/favicons/favicon-144x144.png" />
    <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
    <link rel="manifest" href="/favicons/manifest.json" /> -->
    <meta name="theme-color" content="#2d3048" />

    <meta name="color-scheme" content="light dark" />

    <link rel="stylesheet" href="/assets/fapro/css/allstyles.css" />

    <title>Stardew Valley Checkup</title>
  </head>
  <body>
    <nav class="nav">
      <div class="btn btn-menu" data-menu="devanka761" role="button"><i class="fa-solid fa-bars"></i> Navigation</div>
      <div class="nav-list">
        <a class="btn" href="#data-summary"><i class="fa-solid fa-hashtag fa-fw"></i> Summary</a>
        <a class="btn" href="#data-farmer"><i class="fa-solid fa-hashtag fa-fw"></i> Farmer</a>
        <a class="btn" href="#data-perfection-tracker"><i class="fa-solid fa-hashtag fa-fw"></i> Perfection Tracker</a>
        <a class="btn br" href="#data-money"><i class="fa-solid fa-hashtag fa-fw"></i> Money</a>
        <a class="btn" href="#data-skills"><i class="fa-solid fa-hashtag fa-fw"></i> Skills</a>
        <a class="btn" href="#data-skill-mastery"><i class="fa-solid fa-hashtag fa-fw"></i> Skill Mastery</a>
        <a class="btn br" href="#data-quests"><i class="fa-solid fa-hashtag fa-fw"></i> Quests</a>
        <a class="btn" href="#data-special-orders"><i class="fa-solid fa-hashtag fa-fw"></i> Special Orders</a>
        <a class="btn br" href="#data-monster-hunting"><i class="fa-solid fa-hashtag fa-fw"></i> Monster Hunting</a>
        <a class="btn" href="#data-stardrops"><i class="fa-solid fa-hashtag fa-fw"></i> Stardrops</a>
        <a class="btn" href="#data-home-family"><i class="fa-solid fa-hashtag fa-fw"></i> Home and Family</a>
        <a class="btn" href="#data-social"><i class="fa-solid fa-hashtag fa-fw"></i> Social</a>
        <a class="btn br" href="#data-cooking"><i class="fa-solid fa-hashtag fa-fw"></i> Cooking</a>
        <a class="btn" href="#data-crafting"><i class="fa-solid fa-hashtag fa-fw"></i> Crafting</a>
        <a class="btn" href="#data-fishing"><i class="fa-solid fa-hashtag fa-fw"></i> Fishing</a>
        <a class="btn br" href="#data-basic-shipping"><i class="fa-solid fa-hashtag fa-fw"></i> Basic Shipping</a>
        <a class="btn" href="#data-crop-shipping"><i class="fa-solid fa-hashtag fa-fw"></i> Crop Shipping</a>
        <a class="btn br" href="#data-books-items-powers"><i class="fa-solid fa-hashtag fa-fw"></i> Book, Special Items, and Powers</a>
        <a class="btn" href="#data-museum-collection"><i class="fa-solid fa-hashtag fa-fw"></i> Museum Collection</a>
        <a class="btn" href="#data-secret-notes"><i class="fa-solid fa-hashtag fa-fw"></i> Secret Notes</a>
        <a class="btn" href="#data-journal-scraps"><i class="fa-solid fa-hashtag fa-fw"></i> Journal Scraps</a>
        <a class="btn" href="#data-community-center"><i class="fa-solid fa-hashtag fa-fw"></i> Community Center</a>
        <a class="btn br" href="#data-forest-neighbors"><i class="fa-solid fa-hashtag fa-fw"></i> Forest Neighbors</a>
        <a class="btn br" href="#data-granpas-evaluation"><i class="fa-solid fa-hashtag fa-fw"></i> Grandpa's Evaluation</a>
        <a class="btn br" href="#data-golden-walnuts"><i class="fa-solid fa-hashtag fa-fw"></i> Golden Walnuts</a>
        <a class="btn" href="#data-island-upgrades"><i class="fa-solid fa-hashtag fa-fw"></i> Island Upgrades</a>
        <a class="btn br" href="#data-arcade-games"><i class="fa-solid fa-hashtag fa-fw"></i> Arcade Games</a>
        <a class="btn br" href="#data-animal-summary"><i class="fa-solid fa-hashtag fa-fw"></i> Animal Summary</a>
      </div>
    </nav>
    <main class="main">
      <section class="home" id="home">
        <div class="title">
          <h1>Stardew Valley Checkup 2</h1>
        </div>
        <form action="/x/local-read" class="form" id="form">
          <div class="field form-inputs">
            <label for="save-file">Select a save file to check:</label>
            <input type="file" name="save-file" id="save-file" />
            <p class="save-file-name has-file">No File Selected</p>
            <div class="btn btn-input"><i class="fa-duotone fa-light fa-floppy-disk"></i> Choose File</div>
          </div>

          <div class="field note">
            <p class="jstf">Please use the full save file named with your farmer's name (or farm name) and an ID number (e.g. <span class="mono">Luna_148093307</span>). Do not use the <span class="mono red">SaveGameInfo</span> file as it does not contain all the necessary information.</p>
            <p>Default save file locations are:</p>

            <ul class="fa-ul">
              <li>
                <span class="fa-li"> <i class="fa-duotone fa-light fa-hand-point-right"></i> </span>Windows: <span class="mono">%AppData%\StardewValley\Saves\</span>
              </li>
              <li>
                <span class="fa-li"> <i class="fa-duotone fa-light fa-hand-point-right"></i> </span>Mac OSX & Linux: <span class="mono">~/.config/StardewValley/Saves/</span>
              </li>
              <li>
                <span class="fa-li"> <i class="fa-duotone fa-light fa-hand-point-right"></i> </span>Proton Steam (Ubuntu): <span class="mono">~/.steam/debian-installation/steamapps/compatdata/413150/pfx/drive_c/users/steamuser/AppData/Roaming/StardewValley/Saves/</span>
              </li>
            </ul>
          </div>
        </form>

        <div class="quick-nav">
          <h3>Quick Navigation</h3>
          <div class="quick-actions">
            <a href="#data-farmer">Farmer</a>
            <a href="#data-perfection-tracker">Perfection Tracker</a>
            <a href="#data-summary">Summary</a>
            <a href="#data-money">Money</a>
            <a href="#data-skills">Skills</a>
            <a href="#data-skill-mastery">Skill Mastery</a>
            <a href="#data-quests">Quests</a>
            <a href="#data-special-orders">Special Orders</a>
            <a href="#data-monster-hunting">Monster Hunting</a>
            <a href="#data-stardrops">Stardrops</a>
            <a href="#data-home-family">Home and Family</a>
            <a href="#data-social">Social</a>
            <a href="#data-cooking">Cooking</a>
            <a href="#data-crafting">Crafting</a>
            <a href="#data-fishing">Fishing</a>
            <a href="#data-basic-shipping">Basic Shipping</a>
            <a href="#data-crop-shipping">Crop Shipping</a>
            <a href="#data-books-items-powers">Book, Special Items, and Powers</a>
            <a href="#data-museum-collection">Museum Collection</a>
            <a href="#data-secret-notes">Secret Notes</a>
            <a href="#data-journal-scraps">Journal Scraps</a>
            <a href="#data-community-center">Community Center / Joja Community Development</a>
            <a href="#data-forest-neighbors">Forest Neighbors</a>
            <a href="#data-granpas-evaluation">Grandpa's Evaluation</a>
            <a href="#data-golden-walnuts">Golden Walnuts</a>
            <a href="#data-island-upgrades">Island Upgrades</a>
            <a href="#data-arcade-games">Arcade Games</a>
            <a href="#data-animal-summary">Animal Summary</a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
